# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc

# Database / local files
*.sqlite3

# OS junk
.DS_Store

# Environments
.venv
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Flask stuff:
instance/

automation_testing.py