{% extends "layout.html" %}

{% block content %}

<div class="page-header">
    <div>
        <h1>Add Medication</h1>
        <p>Add a new prescription.</p>
    </div>
</div>

<div class="form-card">

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-input") }}
            {% for error in form.name.errors %}
                <p class="form-error">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.last_issued.label }}
            {{ form.last_issued(class="form-input") }}
            {% for error in form.last_issued.errors %}
                <p class="form-error">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.duration_days.label }}
            {{ form.duration_days(class="form-input") }}
            {% for error in form.duration_days.errors %}
                <p class="form-error">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.active.label }}
            {{ form.active(class="form-input") }}
            {% for error in form.active.errors %}
                <p class="form-error">
                    {{ error }}
                </p>
            {% endfor %}
        </div>

        {{ form.submit(
            class="primary-button"
        ) }}

    </form>

</div>

{% endblock %}